@import "_colors.scss";



.bp{
    background-color: $primaricolor;
};

.bs{
    background-color: $secundaricolor;
};

.bt{
    background-color: $terciaricolor;
};

.bf{
    background-color: $fourcolor;
};

.bg{
    background-color: $gris;
};

.bgrad{
    background-color: $backgroundgradient;
};