@import "_colors.scss";

.btn-ter{
    color: #fff;
    font-size: 20px;
    background-color: $terciaricolor;
    border: 1px solid #000000;
    border-radius: 5px;
    width: 130px;
    height: 40px;
    cursor: pointer;
}

 .btn-gris{
    color: #000000;
    cursor: pointer;
    background-color: #838383;
    font-size: 20px;
    border: solid 2px #fff;
    border-radius: 5px;
    width: 150px;
    height: 50px;
}

.btn-small{
    color: $primaricolor;
    cursor: pointer;
    background-color: #838383;
    border-radius: 5px;
    border: solid 1px #000000;
    font-size: 16px;
    width: 100px;
    height: 40px;

}

.btn-medium{
    color: #ffffff;
    cursor: pointer;
    background-color: $secundaricolor;
    font-size: 24px;
    border: solid 2px #000000;
    border-radius: 5px;
    width: 160px;
    height: 40px;
}

.btn-50{
    width: 130px;
    height: 40px;
    border-radius: 50px;
    border: solid #fff 1px;
    background-color: $secundaricolor;
    color: #FFFFFF;
    cursor: pointer;
}

.btn-send{
    color: #fff;
    background-color: #838383;
    border-radius: 7px;
    border: solid 1px #000000;
    width: 100px;
    height: 30px;
    cursor: pointer;
}