$primaricolor: #D0021C;
$secundaricolor: #F0701F;
$terciaricolor: #8C0007;
$fourcolor: #7a7a7a;
$black: #000009;

.titlew{
    color: #ffffff;
    font-size: 32px;
    font-weight: 700;
};

.textow{
    color: #ffffff;
    font-size: 1rem;
};


.textonf{
    color: #000000;
    font-weight: 800;
    font-size: 16px;

};

.bs{
    background-color: #F0701F;
};