.flex{
    display: flex;
}

.row{
    flex-direction: row;
}

.rowr{
    flex-direction: row-reverse;
}

.column{
    flex-direction: column;
}

.columnr{
    flex-direction: column-reverse;
}

.justifystart{
    justify-content: flex-start;
}

.justifyend{
    justify-content: flex-end;
}

.justifycenter{
    justify-content: center;
}
.justifyaround{
    justify-content: space-around;
}
.justifybetween{
    justify-content: space-between;
}

.aligncenter{
    align-items: center;
}
.alignend{
    align-items: flex-end;
}
.alignstart{
    align-items: flex-start;
}