
@import "_estilos.scss";
@import "_estilosletras.scss";
@import "_colors.scss";
@import "_bg.scss";
@import "_scriptart.scss";

#header{
        height: 285px;
        background: rgb(255,255,255);
        background: linear-gradient(148deg, rgba(255,255,255,1) 0%, rgba(236,165,120,1) 100%);
        .logo-navbar{
            height: 220px;
            .rowheader{
                .contein-logo{
                    height: 240px;
                    .logotipo{
                      height: 230px;
                      width: 50%;
                    }
                }
                .nav-menu{
                    height: 60px;
                   
                    .navbar{
                        .conteiner-fluid{
                            .HelveciaMAs{
                                color: #000009;
                            };
                            #navbarNav{
                                .navbar-nav{
                                    .nav-item{
                                        a{
                                            color: #000009;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
};

