$fondobg : rgb(240,112,31) linear-gradient(90deg, rgba(240,112,31,1) 0%, rgba(231,79,30,1) 30%, rgba(226,63,30,1) 45%, rgba(208,2,28,1) 100%);

@import "_estilos.scss";
@import "_estilosletras.scss";
@import "_colors.scss";
@import "_bg.scss";



body{
   background-color: $gris;
}
#header{
    background-image:
     url("../imgindex/verde.jpeg");
     background-repeat: no-repeat;
    // background: rgb(255,255,255);
    // background: linear-gradient(148deg, rgba(255,255,255,1) 0%, rgba(236,165,120,1) 100%);
    height: 285px;
        .logo-navbar{
            height: 220px;
            .rowheader{
                .contein-logo{
                    height: 240px;
                    .logotipo{
                      height: 230px;
                      width: 50%;
                    }
                }
                .nav-menu{
                    z-index: 1000;
                    height: 60px;
                    width: 100%;
                   
                    .navbar{
                        
                        .conteiner-fluid{
                            .HelveciaMAs{
                                color: #000009;
                            };
                            #navbarNav{
                                .navbar-nav{
                                    .nav-item{
                                        a{
                                            color: #000009;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
};

// carrousel bienvenida

.carrousel {
    height: 500px;
};


#carr1{
    width: 100%;
    height: 500px;
}

#carr3{
    width: 100%;
    height: 500px;
};
#carr4{
    width: 100%;
    height: 500px;
};

// como publico aqui


.welcome{
    border-top: #000009 solid 7px;
    background: rgb(240,112,31);
    background: linear-gradient(90deg,
     rgba(240,112,31,1) 0%, rgba(231,79,30,1) 30%, rgba(226,63,30,1) 45%, rgba(208,2,28,1) 100%);
     .prwelcome{
        .prcolwel{
            .card{
                background-color: #7a7a7a;
                };
            }
        }
     }