$primaricolor: #D0021C;
$secundaricolor: #F0701F;
$terciaricolor: #8C0007;
$fourcolor: #FFFDF7;
$black: #000009;

@import "_btn.scss";
@import "_estilos.scss";


body{
    background-color: #FFFDF7;
}
#header{
        height: 285px;
        background-color: #FFFDF7;
        .logo-navbar{
            height: 220px;
            .rowheader{
                .contein-logo{
                    height: 240px;
                    .logotipo{
                      height: 230px;
                      width: 50%;
                    }
                }
                .nav-menu{
                    height: 60px;
                    width: 100%;
                   
                    .navbar{
                        background-color: $secundaricolor;
                        .conteiner-fluid{
                            .HelveciaMAs{
                                color: #000009;
                            };
                            #navbarNav{
                                .navbar-nav{
                                    .nav-item{
                                        a{
                                            color: #000009;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
};
// como publico aqui

#welcome
    .rowwelcome{
        background-color: #000009;
        .colunowelcome{
            height: 200px;
          
            .conteininf{
               
                .textwelcome{
                     color: $secundaricolor;
                   
                }
             
                
            };
            
        }
    };



   
        