@import "_estilos.scss";
@import "_estilosletras.scss";
@import "_colors.scss";
@import "_bg.scss";
@import "_btn.scss";




#header{
    margin-bottom: 200px;
        height: 285px;
        background: rgb(255,255,255);
        background: linear-gradient(148deg, rgba(255,255,255,1) 0%, rgba(236,165,120,1) 100%);
        .logo-navbar{
            height: 220px;
            .rowheader{
                .contein-logo{
                    height: 240px;
                    .logotipo{
                      height: 230px;
                      width: 50%;
                    }
                }
                .nav-menu{
                    height: 60px;
                   
                    .navbar{
                        
                        .conteiner-fluid{
                            .HelveciaMAs{
                                color: #000009;
                            };
                            #navbarNav{
                                .navbar-nav{
                                    .nav-item{
                                        a{
                                            color: #000009;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
};


#logintitle{
    position: relative;
    bottom: 40px;
    right:  70px;
    padding: 32px;
    font-size: 32px;
    border-bottom: solid 3px $secundaricolor;
};

.containformlogin{
  padding-bottom: 70px;
}
