
@import "_colors.scss";

.cfecha{
    height: 50px;
};
.fecha{
    text-align: end;
    font-size: 16px;
};

.imgavatar{
    border-radius: 100%;
    width: 100px;
    height: 100px;
};

.byavatar{
    height: 100px;
    border-bottom: solid 7px $terciaricolor;
}

.nameautor{
    font-size: 16px;
    position: absolute;
    left: 100px;
};


// el titulo y subtitulo

.titleart{
  height: 150px;
  margin-bottom: 20px;
};

.subtitle{
    color: $gris;
    font-size: 20px
};

.tys{
    margin-bottom: 30px;
}

.gris{
    color: $gris;
};

.subtitle2r{
    text-align: center;
    border-bottom: solid  1px;
    font-size: 25px;
    color: $terciaricolor;
    font-weight: 700;
    margin-bottom: 10px;
};

.conteinimg{
    padding-bottom: 30px;
    border-bottom: solid 1px;
    margin-bottom: 5px;
};

.creditofoto{
    font-size: 12px;
    color: $gris;
}