$primaricolor: #D0021C;
$secundaricolor: #F0701F;
$terciaricolor: #8C0007;
$fourcolor: #FFFDF7;
$black: #000009;
$gris: #eeeeeecf;
$secunmatizado: #ff9f64e2;


body{
    background-color: $fourcolor;
};
// Header
#header{
        height: 300px;
        .logo-navbar{
            height: 220px;
            .rowheader{
                .contein-logo{
                    height: 240px;
                    .logotipo{
                      height: 230px;
                      width: 50%;
                    }
                }
                .nav-menu{
                    height: 60px;
                   
                    .navbar{
                        background-color: $secundaricolor;
                        .conteiner-fluid{
                            .HelveciaMAs{
                                color: #000009;
                            };
                            #navbarNav{
                                .navbar-nav{
                                    .nav-item{
                                        a{
                                            color: #000009;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
};

// Main de sobre nosotros

#mainabout{
    .usabout{
        margin-top: 150px;
        .rowuno{
            .coluno{
                background-color: $secunmatizado
            };
            .coldos{
                .contein_pabout{
                    .contein_title{

                        // title_about contiene la frase y su autor.
                        .title_about{
                            margin-top: 50px;
                            margin-bottom: 60px;
                            // .abouth2{
                                
                            // };
                            .autor{
                                font-weight: 900;
                                font-size: 1rem
                            };
                        }
                        .txt{
                            margin-bottom: 70px;
                        }
                    };
                    .alert{
                        background-color: $gris;
                        margin-bottom: 100px;
                    }
                }
            };
            .coltres{
                background-color: $secunmatizado
            };
        }
    }
};